<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarão</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container" style="text-align: center;">
        <img src="/img/clarao.jpg"><br>
        <label class="lbl_texto">
            oi, meu nome é Erik. Essa menina é Clara, minha amiga. Fiz esse site apenas pra provar a ela que é mais fácil construir um site do zero do que entender uma mulher. Espero que tenha servido.
        </label>
    </div>
</body>
</html>